<% obj.comments.reload.each do |comment| %>
  <div class="post-comment well well-sm">
    <blockquote>
      <p><%= comment.body %></p>
      <footer><%= link_to comment.creator.username, '#' %> <cite><%= formatted_date_time(comment) %></cite></footer>
    </blockquote>
  </div>
<% end %>
