<!-- Called from 'comments/_comment' -->
<hr />
<p class="text-right">
  <%= voting_button(obj, true, 'thumbs-up', 'text-success') %> <!-- AppHelper -->
  <%= voting_button(obj, false, 'thumbs-down', 'text-danger') %> <!-- AppHelper -->
</p>
<p class="text-right">
  <label class="label label-primary"><%= "#{obj.tallied_votes} Votes" %></label> <!-- AppHelper -->
</p>
