<!-- Called from 'comments/_comment' -->
<div class="col-sm-2 hidden-xs well text-center voting-box">
  <p>
    <%= voting_button(obj, true, 'thumbs-up', 'text-success') %> <!-- AppHelper -->
    <%= voting_button(obj, false, 'thumbs-down', 'text-danger') %> <!-- AppHelper -->
  </p>
  <h4><span class="label label-primary"><%= "#{obj.tallied_votes} Votes" %></span></h4>
</div>
