<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><strong>Profile: </strong><%= @user.username %></h3>
        <hr />
        <p><strong>Username: </strong><%= @user.username %></p>
        <p><strong>Time Zone: </strong>Need Timezone</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <br/>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="posts">
          <% @user.posts.each do |post| %>
            <%= render 'shared/posts_list', post: post %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <%= render partial: 'comments/comments_list', locals: { obj: @user, user_profile_page: true } %>
        </div>
      </div>

    </div>
  </div>
</div>
