<p class="text-right">
  <% obj.categories.each do |category| %>
    <%= link_to category, class: 'btn btn-default btn-sm category-btn' do %>
      <span class="glyphicon glyphicon-tags text-muted" aria-hidden="true"></span>
      <%= category.name %>
    <% end %>
  <% end %>
</p>
