<div class="row">
  <div class="col-xs-12">
    <div class="page-title pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg"><%= page_title %></button>
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
            <li><%= link_to category.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
