<span class="voting-box visible-xs">
  <p class="text-right">
    <%= upvote_button(post, 'btn-md') %>
    <%= downvote_button(post, 'btn-md') %>
  </p>

  <p class="text-right">
    <label class="label label-primary"><%= tally_votes(post) %></label>
  </p>
</span>
