<div class="well text-center">
  <p>
    <%= upvote_button(post, 'btn-lg') %>
  </p>
<p>
  <h4><span class="label label-primary"><%= tally_votes(post) %></span></h4>
</p>
  <p>
    <%= downvote_button(post, 'btn-lg') %>
  </p>
</div>
