<div class="well text-center">
  <% if logged_in? %>
    <p>
      <%= link_to post_votes_path(post, vote: true), method: :post, class: 'btn btn-default btn-lg', remote: true do %>
        <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></span>
      <% end %>
    </p>
  <% end %>
  <p>
    <h4><span class="label label-primary"><%= tally_votes(post) %></span></h4>
  </p>
  <% if logged_in? %>
    <p>
      <%= link_to post_votes_path(post, vote: false), method: :post, class: 'btn btn-default btn-lg', remote: true do %>
        <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true"></span>
      <% end %>
    </p>
  <% end %>
</div>
