<div class="well text-center">
  <p>
    <%= upvote_downvote_button(post, true, 'btn-lg', 'thumbs-up', 'text-success') %>
  </p>
  <p>
    <h4><span class="label label-primary"><%= tally_votes(post) %></span></h4>
  </p>
  <p>
    <%= upvote_downvote_button(post, false, 'btn-lg', 'thumbs-down', 'text-danger') %>
  </p>
</div>
