<div class="well text-center voting-box">
  <p>
    <%= voting_button(obj, true, 'thumbs-up', 'text-success') %> <!-- AppHelper -->
  </p>
  <h4><span class="label"><%= "#{obj.tallied_votes} Votes" %></span></h4>
  <p>
    <%= voting_button(obj, false, 'thumbs-down', 'text-danger') %> <!-- AppHelper -->
  </p>
</div>
