<%= render 'shared/category_selection' %>

<%= render 'shared/no_posts' if @posts.empty? %>

<div id="all-posts">
  <%= render @posts.paginate(5, params[:page]) %>
</div>

<div id="pagination-links">
  <%= pagination_links(@posts, 5, 10) %>
</div>
