<%= render @post, show_comments_link: false %>

<div class="row">
  <div class="col-xs-12">
    <h3><strong>Comments</strong></h3>
    <hr />
  </div>
</div>

<%= comments_form if logged_in? %>

<%= render @post.comments.reload, user_profile_page: false %>
