<%= render 'shared/posts_list', post: @post, show_comments_link: false %>

<div class="row">
  <div class="col-xs-12">
    <h3><strong>Comments</strong></h3>
    <%= render 'shared/errors', obj: @comment %>
    <hr />
  </div>
</div>

<%= comments_form %>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'comments/comments_list', locals: { obj: @post, user_profile_page: false } %>
  </div>
</div>
