<%= render @post, show_comments_link: false %>

<div class="row">
  <div class="col-xs-12">
    <h3><strong>Comments</strong></h3>
    <hr />
  </div>
</div>

<%= comments_form %>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'shared/comment', collection: @post.comments.reload, locals: { user_profile_page: false } %>
  </div>
</div>
