<%= render @post, show_comments_link: false %>

<div class="row">
  <div class="col-xs-12">
    <h3><strong><%= "Comments (#{@post.comments.size})" %></strong></h3>
    <hr />
  </div>
</div>

<%= comments_form if logged_in? %> <!-- Shortcut for render 'comments/form' -->

<%= render @post.comments.reload.sort_by { |comment| comment.tallied_votes }.reverse, user_profile_page: false %>
