<%= render @post %>

<div class="row">
  <div class="col-xs-12">
    <h3><strong><%= "Comments (#{@post.unhidden_comments_count})" %></strong></h3>
    <hr />
  </div>
</div>

<%= comments_form(@post) %> <!-- PostsHelper -->

<%= render @post.reload.comments.includes(:creator).votes_created_desc %>
