@import "bootstrap-sprockets";
@import "_variables";
@import "bootstrap";

.navbar-default {
  .navbar-toggle {
    color: $white;
    border-color: $dark-blue;

    .icon-bar {
      background-color: $white;
    }
  }

  .navbar-toggle:hover {
    background-color: $darkened-brand-primary;
  }

  .navbar-toggle:focus {
    background-color: $darkened-brand-primary;
  }
}
//
// .navbar-custom {
//   ul { margin-top: 14px; }
// }
//
// #new-post-btn { margin-bottom: 5px; }
//
// .page-title {
//   margin-bottom: 20px;
// }
//
// .post {
//   margin-bottom: 10px;
//   .category-btn { margin-bottom: 5px; }
// }
//
// .flagged-item-msg {
//   display: none;
//   margin-bottom: 20px;
// }
//
// .category-list {
//   .btn { margin-bottom: 5px; }
// }
//
// .field_with_errors {
//   color: $error-red;
//   input { border-color: $error-red; }
//   textarea { border-color: $error-red; }
// }
//
// .post-body blockquote {
//   font-size: 14px;
//   margin-bottom: 15px;
// }
//
// .post-comment blockquote {
//   margin-bottom: 0;
// }
//
// .comment-voting-btns-mobile {
//   font-size: 14px;
// }
//
// .user-profile-table td {
//   width: 20%
// }
