/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.page-title {
  padding-bottom: 20px;
}

.post {
  padding-bottom: 10px;
}

.navbar-custom {
  background-color: #fff;
  border-color: #fff #fff #ddd #fff;
}

.navbar-custom ul {
  padding-top: 14px;
}

.field_with_errors {
  color: #a94442;
}

.field_with_errors input {
  border-color: #a94442;
}

.field_with_errors > textarea {
  border-color: #a94442;
}

#post-comments blockquote {
  margin-bottom: 0;
}
