@import "bootstrap-sprockets";
@import "_variables";
@import "bootstrap";

.flagged-item-msg {
  display: none;
  margin-bottom: 20px;
}

.disabled {
  color: $medium-blue;
}

.form-control:focus {
  box-shadow: none;
}

.btn-default {
  &:active {
    background-color: $light-blue;
  }
  &:hover {
    background-color: $light-blue;
  }
  &:focus {
    background-color: $light-blue;
  }
}

.btn-group .dropdown-toggle {
  background-color: $white !important;

  &:active {
    background-color: $light-blue !important;
  }
  &:hover {
    background-color: $light-blue !important;
  }
  &:focus {
    background-color: $light-blue !important;
  }
}

.navbar {
  a {
    padding-left: 15px !important;
  }

  .glyphicon {
    margin-right: 5px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-toggle {
    color: $white;
    border-color: $dark-blue;

    .icon-bar {
      background-color: $white;
    }
  }

  .navbar-toggle:hover {
    background-color: $darkened-brand-primary;
  }

  .navbar-toggle:focus {
    background-color: $darkened-brand-primary;
  }
}

.voting-box {
  padding-top: 30px;
}

.post-category-section {
  margin-bottom: 20px;
}

.post-body {
  blockquote {
    font-size: 14px;
  }
}

.category-btn {
  margin-bottom: 4px;

  .glyphicon {
    margin-right: 5px;
  }
}

.comments-btn {
  padding-bottom: 2px;
}

.post-comment blockquote {
  margin-bottom: 0;
}

.user-role-selection {
  a:first-child {
    margin-right: 5px;
  }
}

.new_post {
  .checkbox {
    label {
      margin-right: 10px;
    }
  }
}

.tooltip-inner {
  background-color: $brand-primary;
}

.tooltip.top > .tooltip-arrow {
  border-top-color: $brand-primary;
}

@media (min-width: 768px) and (max-width: 991px) {
  .comment {
    .voting-box {
      a:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
