<!-- Called from 'posts/_post' -->
<div class="well text-center">
  <p>
    <%= voting_button(obj, true, 'btn-lg', 'thumbs-up', 'text-success') %> <!-- AppHelper -->
  </p>
  <h4><span class="label label-primary"><%= "#{obj.tally_votes} Votes" %></span></h4>
  <p>
    <%= voting_button(obj, false, 'btn-lg', 'thumbs-down', 'text-danger') %> <!-- AppHelper -->
  </p>
</div>
