<nav class="navbar navbar-default navbar-custom">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h1 class="text-primary"><strong>PostIt!</strong></h1>
  </div>

  <!-- This should probably be refactored to remove duplicate code -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-right"> <!-- SHOW PILLS ON SM+ -->
      <li><%= link_to 'Home', root_path, class: 'text-muted' %></li>
      <li><%= register_link %></li>
      <li><%= login_link %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
