<nav>
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "Home", root_path %></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Log In</a></li>
  </ul>
  <h1 class="text-muted">PostIt!</h1>
</nav>
