<nav>
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "Home", root_path, class: 'text-muted' %></li>
    <li><a href="#" class="text-muted">Register</a></li>
    <li><a href="#" class="text-muted">Log In</a></li>
  </ul>
  <h1 class="text-primary"><strong>PostIt!</strong></h1>
</nav>
